div.editbody {
    width: 800px;
    height: auto;
    margin-top: 0px;
    padding-bottom: 20px;
    background-color: #d4d4d4;
    text-align: justify;
}

div.editleft {
    display: inline-block;
    width: 550px;
}

div.editright {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 240px;
}

input.editin {
    height: 18px;
    margin-top: 20px;
    border-width: 1px;
    padding: 0px;
}

input#edittitle {
    width: 200px;
    margin-left: 48px;
}

input#editcategories {
    width: 200px;
    margin-left: 10px;
}

input#edittype {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}

input#editaccess {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}

input#editid {
    width: 32px;
    text-align: center;
}

textarea#editarea {
    width: 500px;
    height: 200px;
    resize: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 48px;
    border-width: 1px;
}

div#editpreview {
    width: 800px;
    height: auto;
    min-height: 100px;
    margin: 0px;
    margin-top: 10px;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: grey;
    border-style: dashed;
    word-wrap:break-word;
}

select.editselect {
    width: 188px;
    height: 202px;
    margin-top: 10px;
}

div#submitbutton {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    width: 67px;
    height: 18px;
}

div#deletebutton {
    margin-left: 6px;
    display: inline-block;
    vertical-align: bottom;
    width: 67px;
    height: 18px;
}