div.editbody {
    width: 800px;
    height: auto;
    margin-top: 0px;
    padding-bottom: 20px;
    background-color: #d4d4d4;
    text-align: justify;
}

div.editleft {
    display: inline-block;
    width: 550px;
}

div.editright {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 190px;
}

input.editin {
    height: 18px;
    margin-top: 20px;
    border-width: 1px;
    padding: 0px;
}

input#edittitle {
    width: 200px;
    margin-left: 48px;
}

input#editcategories {
    width: 200px;
    margin-left: 10px;
}

input#edittype {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}

input#editaccess {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}

div#editid {
    margin-top: 20px;
    width: 32px;
    text-align: center;
}

div#editdc {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 10px;
    width: 146px;
}

textarea#editarea {
    width: 500px;
    height: 227px;
    resize: none;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 48px;
    border-width: 1px;
}

div#editpreview {
    width: 800px;
    height: auto;
    min-height: 100px;
    margin: 0px;
    margin-top: 10px;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: grey;
    border-style: dashed;
    word-wrap:break-word;
}

select.editselect {
    width: 188px;
    height: 202px;
    margin-top: 5px;
}

div#submitbutton {
    margin-top: 5px;
    display: inline-block;
    vertical-align: bottom;
    width: 36px;
    height: 18px;
    margin-left: 6px;
}

input#editdelete {
    margin-top: 5px;
    margin-left: 6px;
    width: 36px;
    height: 18px;
    text-align: center;
}

input.editdeldanger {
    background-color: #990000;
    color: #ffffff;
}

div.editinfo {
    background-color: white;
    height: 20px;
    vertical-align: bottom;
    display: inline-block;
}

div#editresp {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    width: 100px;
}