/*

 IDs

*/

input#eTitle {
    width: 200px;
    margin-left: 48px;
}
input#eCategories {
    width: 200px;
    margin-left: 10px;
}
input#eType {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}
input#eAccess {
    width: 32px;
    margin-left: 10px;
    text-align: center;
}
input#ePostid {
    margin-top: 20px;
    width: 32px;
    text-align: center;
}
input#ePostdate {
    text-align: center;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 10px;
    width: 142px;
}
textarea#eArea {
    width: 500px;
    height: 227px;
    resize: none;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 48px;
    border-width: 1px;
    font-size: 13px;
}
div#ePreview {
    width: 800px;
    height: auto;
    min-height: 100px;
    margin: 0px;
    margin-top: 10px;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: grey;
    border-style: dashed;
    word-wrap:break-word;
}
div#eSubmitbutton {
    margin-top: 5px;
    display: inline-block;
    vertical-align: bottom;
    width: 36px;
    height: 18px;
    margin-left: 6px;
}
input#eDeletefield {
    margin-top: 5px;
    margin-left: 6px;
    width: 36px;
    height: 18px;
    text-align: center;
}
div#eResponsefield {
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
    font-size: 12px;
    vertical-align: bottom;
    display: inline-block;
}
select#eList {
    width: 188px;
    height: 202px;
    margin-top: 5px;
}