input#everegion {
    width: 150px;
    margin-left: 48px;
}

div#everesp {
    margin-left: 10px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    width: 210px;
}

input.evesite {
    width: 150px;
    margin-left: 48px;
    margin-top: 5px;
}

input.evetype {
    margin-left: 10px;
    margin-top: 5px;
    width: 150px;
}

input.wrong {
    background-color: #ffcccc;
}

select#evelist {
    margin-top: 20px;
}