html {
    font-family: "sans serif";
    background-color: #222222;
}
div.footer {
    border-color: #555555;
    background-color: #333333;
}
div#main {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #333333;
}
a.headerlink {
    color: #d47257;
}
a.footerlink {
    color: #d47257;
}
ul.headerleft {
    display: table;
    width: 300px;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
}
ul.headerright {
    display: table;
    width: 300px;
    margin: 0px;
    padding: 0px;
    margin-left: 25px;
}
div.headercontainer {
    display: inline-block;
    width: auto;
    border-color: #c4c4c4;
    border-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
}