/*

 Classes

*/

input.lInput {
    width: 200px;
    height: 18px;
    border-width: 1px;
    padding: 0px;
    text-align: center;
}
div.lInfo {
    display: inline-block;
    width: 50px;
    margin-left: 269px;
    text-align: right;
    margin-right: 5px;
    --font-family: 'Open Sans', sans-serif;
}

/*

 IDs

*/

div#lBody {
    width: 800px;
    height: auto;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #d4d4d4;
}
div#lSpacer {
    width: 100%;
    height: 5px;
}
div#lSubmitbutton {
    vertical-align: bottom;
    width: 60px;
    height: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-left: 274px;
    text-align: center;
}
div#lResponsefield {
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    vertical-align: bottom;
    margin-left: 10px;
    width: 180px;
    height: 22px;
}
input#lPw {
    font-size: 8px;
}