div.par {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
}

div.hdl1 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-right: 15px;
    font-size: 21px;
}

a.link {
    color: #d27b63;
    --text-decoration: none;
}

img.imag {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    --text-align: left;
}