div.par {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 7px;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 21px;
}

div.hdl1 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin-right: 15px;
    font-size: 21px;
}

a.link {
    color: #a5452b;
    --text-decoration: none;
}

img.imag {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
}

li.li {
    margin-top: 3px;
    margin-bottom: 3px;
}

div.posttitlebar {
    margin-top: 5px;
    display: block;
    padding-bottom: 3px;
    margin-bottom: 8px;
    border-width: 0px;
    border-bottom-width: 1px;
    --border-top-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    width: 780px;
}

div.posttitle {
    display: inline-block;
    font-size: 21px;
    margin-left: 10px;
    margin-right: 10px;
}
div.postcats {
    display: inline-block;
}
div.postcat {
    display: inline-block;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbbbbb;
    line-height: 100%;
    margin-right: 3px;
    color: #777777;
}
div.postcrtdate {
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    color: #777777;
}
div.postdrivelcrtdate {
    display: inline-block;
    margin-left: 2px;
    font-size: 16px;
}
div.postdriveltitle {
    display: inline-block;
    margin-left: 10px;
    margin-right: 3px;
    -font-size: 14px;
}