div.par {
    margin-left: 23px;
    margin-right: 25px;
    margin-bottom: 18px;
    font-size: 14px;
    font-family: "Open Sans";
    line-height: 1.8;
}

div.par1 {
    margin-bottom: 25px;
}

div.par2 {
    margin-bottom: 20px;
}

h1.hdl1 {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 22px;
    --text-decoration: underline;
    border-bottom: 1px solid;
    border-color: #aaaaaa;
}
h1 {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}
h1.hdl2 {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 20px;
    border-bottom: 1px solid;
    border-color: #999999;
}
h1.hdls1 {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 22px;
    --text-decoration: underline;
    --border-bottom: 1px solid;
    border-color: #aaaaaa;
}
h1.hdls2 {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 20px;
    --border-bottom: 1px solid;
    border-color: #999999;
}

a.link {
    color: #a5452b;
    --color: #E46B4D;
    --text-decoration: none;
}

img.imag {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.ul {
    list-style-type: circle;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
}

li.li {
    margin-top: 3px;
    margin-bottom: 3px;
}

li.tli {
    margin-top: 3px;
    margin-bottom: 3px;
    line-height: 1.5;
}

div.posttitlebar {
    margin-top: 15px;
    display: block;
    padding-bottom: 1px;
    margin-bottom: 15px;
    border-width: 0px;
    border-bottom-width: 1px;
    --border-top-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    width: 780px;
}

div.posttitlebarbar {
    -padding-bottom: 1px;
    border-width: 0px;
    border-bottom-width: 1px;
    --border-top-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
}

div.posttitle {
    display: inline-block;
    font-size: 23px;
    margin-left: 10px;
    margin-right: 10px;
}
div.postcats {
    display: inline-block;
}
div.postcat {
    display: inline-block;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #bbbbbb;
    line-height: 100%;
    margin-right: 3px;
    color: #777777;
}
div.postcrtdate {
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-right: 10px;
    margin-top: 11px;
    color: #777777;
}
div.postdrivelcrtdate {
    display: inline-block;
    margin-left: 2px;
    font-size: 16px;
}
div.postdriveltitle {
    display: inline-block;
    margin-left: 10px;
    margin-right: 3px;
    -font-size: 14px;
}

.katex {
    font-size: 18px !important;
}

img.imag {
    max-width: 732px;
    height: auto;
    display: block;
    margin: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

img.imag_nomargin {
    max-width: 732px;
    height: auto;
    display: block;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}