html {
    display: table;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #eeeeee;
}

body {
    margin: 0px;
    margin-left: 30px;
    margin-right: 30px;
    width: 800px;
    display: table-cell;
    vertical-align: middle;
    overflow: scroll;
    padding: 0px;
}

div.header {
    margin-top: 5px;
    height: 125px;
}

div.headercontainer {
    display: inline-block;
    width: auto;
}

ul.headerleft {
    display: table;
    width: 300px;
    margin: 0px;
    padding: 0px;
}

ul.headerright {
    display: table;
    width: 300px;
    margin: 0px;
    padding: 0px;
}

li.headerentry {
    display: table-cell;
    width: 150px;
    text-align: center;
}

a.headerlink {
    color: #d27b63;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}

div.testbody {
    width: 800px;
    height: 600px;
    margin-top: 0px;
    background-color: #d4d4d4;
    text-align: justify;
}

div.headline {
    font-size: 16px;
    font-weight: bold;
}

div.parag {
    font-size: 14px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}